@import "../../_vars";
header {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  margin-bottom: 50px;
}
.logo {
  height: 100%;
  img {
    height: 100%;
    width: 150px;
  }
}
@media (max-width: $breakpoint426) {
  header {
    height: 100px;
    margin-bottom: 0;
  }
  .logo {
    padding-left: 30px;
    img {
      width: 250px;
    }
  }
}
