@import "../../vars";
.user {
  display: flex;
  gap: 20px;
  .sidebar {
    padding: 20px 5px;
    width: 25%;
    border-right: 1px solid $secondary;

    &__avatar {
      height: fit-content;
      text-align: center;
      margin-bottom: 20px;
      img {
        width: 80%;
        border-radius: 50%;
      }
      .altlogo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: $secondary;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        color: white;
      }
    }
    &__menu {
      display: flex;
      flex-direction: column;

      .item {
        padding: 10px 5px;
        text-align: center;
        cursor: pointer;
        &:hover {
          background: rgba($color: $secondary, $alpha: 0.2);
        }
      }
      .active {
        background: rgba($color: $secondary, $alpha: 0.5);
      }
    }
  }
  .main {
    width: 75%;
  }
}

@media (max-width: $breakpoint426) {
  .user {
    gap: 7px;
    .sidebar {
      &__avatar {
        display: none;
      }
      &__menu {
        .item {
          font-size: 0.9em;
        }
      }
    }
  }
}
